.footer{
    height: 150px;
    border: 0.5px solid rgba(255, 255, 255,0.1);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.footer__items{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor:pointer;
    /* margin: 40px 20px; */
}



@media (max-width: 600px) {
    .footer{
        width: 100vw;
        margin: 0;
    }
    .footer__items{
        width: 100%;
        /* padding-left: 10px; */
        
    }
}