/* .app{
  position:relative ;sm:-8 p-4 bg-[#13131a] min-h-screen flex flex-row
}
sm:flex hidden mr-10 relative*/

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0.5px solid rgba(49, 146, 11, 0.8);
}

.app__body {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 0.5px solid rgba(49, 146, 11, 0.8); */
}

.app__sidebar {
  /* border: 0.5px solid rgba(255, 255, 255, 0.1); */
  width: 20%;
  height: 420px;
  position: fixed;
  align-self: flex-start;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  top: 400;
  left: 0;
  /* z-index: 10; */
}

/* flex-1.max-sm:w-full.max-w[1280px] mx-auto sm:pr-5 */
.app__navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
}


.app__main {
  width: 80%;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  margin-left: 150px;



}

@media (max-width: 600px) {
  .app__sidebar {
    display: none;
  }

  .app__main {
    width: 100%;
    margin-left: 0;
  }

  .app__navbar {
    width: 100%;
    padding-right: 5px;
  }
}

@media (max-width: 768px) {
  .app__sidebar {
    display: none;
  }

  .app__main {
    width: 100%;
    margin-left: 0;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}